.encabezado{
    background: linear-gradient(90deg, #8bb390 0%, rgba(255,255,255,1) 100%, rgba(254,254,254,1) 100%);
    img{
        display: $inline-block;
        align-content: center;
        @include space(none, 5px, none, 60px);
    }
    nav{
        display: $inline-block;
        width: 60%;
        align-content: center;
        ul{
            text-align: end;
            li{
                display: $inline-block;
                padding: 0px 12px;
                a{
                    text-decoration: none;
                }
            }
        }
    }
}

#navbarSupportedContent {
    justify-content: end;
}