.f{
    &__tamaño{
        width: $width-100xciento;
        height: 500px;
        object-fit: cover;
        object-position: top;
    }
    
    &__locales{
        width: $width-75xciento;
        height: auto;
        object-fit: fill;
    }
    &__categorias{
        &__img{ 
            width: $width-100xciento;
            height: 200px;
            object-fit: cover;
            object-position: right;
        }
    }
    &__div{
        width: $width-100xciento !important;
        text-align: center;
    }
    &__div-2{
        width: $width-100xciento !important;
        text-align: center;
        height: 110vh;
    }

    &__productos-destacados{
        display: $flex;
        justify-content: space-evenly;
        padding: 5px;
        img{
            width: $width-75xciento;
            height: auto;
            object-fit: contain;
        }
    }
    &__contactos{
        background: $background-color-main;
        &__p{
            margin-bottom: 0rem;
        }
    }    
}

.img{
    &__locales{
        width: 650px;
        img{
            width: 80%;
        }
        p{
            text-align: justify;
        }
    }
}

.col{
    &__f-pd{
        width: 240px;
    }
}

h2{
    display: $flex;
    justify-content: space-evenly;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 500;
    line-height: 1.2;
    font-size: map-get($titulos, 3rem );
}
