.f{
    &__tamaño{
        width: $width-100xciento;
        height: 500px;
        object-fit: cover;
        object-position: top;
    }
    
    &__locales{
        width: $width-75xciento;
        height: auto;
        object-fit: fill;
    }
    &__categorias{
        &__img{ 
            width: $width-100xciento;
            height: 200px;
            object-fit: cover;
            object-position: right;
        }
    }
    &__div{
        width: $width-100xciento !important;
        text-align: center;
        p{
            font-size: small;
        }
    }
    &__div-2{
        width: $width-100xciento !important;
        text-align: center;
        height: 110vh;
    }

    &__productos-destacados{
        display: $flex;
        justify-content: space-evenly;
        padding: 5px;
        img{
            width: $width-75xciento;
            height: auto;
            object-fit: contain;
        }
        &__card{
            width: 12rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            div{
                p{
                    font-size: x-small;
                }
            }           
        }
    }
    &__contactos{
        background: $background-color-main;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        &__p{
            margin-bottom: 0rem;
        }
    }
    &__contactos__1{
        div{text-align: unset}
    }
    &__contactos__2{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        div{
            p{
                text-align: unset;
            }
        }
        &__der{
            align-content: center;}
    }
    &__prod-titulo{
        font-size: 0.9rem !important;
    }
      
}

.carousel__destacados{
    display: flex !important;
    flex-direction: column;
}

.img{
    &__locales{
        width: 650px;
        img{
            width: 80%;
        }
        p{
            text-align: justify;
        }
    }
}

.col{
    &__f-pd{
        width: 240px;
    }
}

h1{
    display: $flex;
    justify-content: space-evenly;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 500;
    line-height: 1.2;
    font-size: medium
}

h2{
    display: $flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
}

h3{
    display: $flex;
    justify-content: space-evenly;
    font-size: 0.9rem;
}

p{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: justify;
}