/*Tablet*/

@media(max-width: 991px) {
    .f-tamaño{
        width: 100%;
        height: 340px;
        object-fit: cover;
        object-position: top;
    }
}

/*Mobile*/

@media(max-width: 576px) {
    .icono-wrap{
        flex-wrap: wrap;
        justify-content: center !important;
    }
    .f__contactos__2{
        margin-top: 7px;
    }
    .f__tamaño {
        width: 100%;
        height: 390px;
        object-fit: cover;
        object-position:-227.5px; 
    }
}