//Variables
//Contenedor que tiene un nombre y voy a poder "invocar" cuando lo necesite

//Titulos
$titulo-principal: "Nunito", sans-serif;

//Colors
$background-color-main: #8bb390;
$white:  #ffffff;

//Sizes imagenes
$width-100xciento: 100%;
$width-75xciento:  75%;

//Display
$inline-block: inline-block;
$flex: flex;










